<div>
    <%= image_tag 'top-mini.png',class: "relative"  %>
    <div class="bg-customblue text-customred font-bold py-8 px-4 rounded-full w-96 text-center text-4xl absolute top-[90%] left-[5rem] left-2">
    <%= link_to "Introduce Page",introduce_path %>
    </div>
</div>
